{port_specs, [
              {"priv/crypt.so", ["c_src/crypt.c"]}
             ]}.

%% Darwin/Mac OS X doesn't seem to support crypt_r(), the thread-safe variant
%% of crypt()
{port_env, [
            {".*(linux|bsd|solaris).*","CFLAGS", "$CFLAGS -O2"},
            {".*(linux|solaris).*","LDFLAGS", "$LDFLAGS -lcrypt -lpthread"},
            {".*(freebsd|netbsd).*","LDFLAGS", "$LDFLAGS -lcrypt"}
           ]}.

{xref_checks, [undefined_function_calls]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{clean_files, ["config.log", "config.status", "c_src/msantos_crypt.h", 
	"autom4te.cache"]}.
{pre_hooks, [{compile, "./configure"}]}.
