{port_specs, [
              {"priv/crypt.so", ["c_src/crypt.c"]}
             ]}.

{port_env, [
            {"(linux|bsd|solaris)","CFLAGS", "$CFLAGS -O2"},
            {"linux","DRV_CFLAGS", "$DRV_CFLAGS -DHAVE_CRYPT_R"},
            {"linux","LDFLAGS", "$LDFLAGS -lcrypt -lpthread"},
            {"(freebsd|netbsd|solaris)","LDFLAGS", "$LDFLAGS -lcrypt"}
           ]}.

{xref_checks, [undefined_function_calls]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
