{port_specs, [
              {"priv/crypt.so", ["c_src/crypt.c"]}
             ]}.

%% Darwin/Mac OS X doesn't seem to support crypt_r(), the thread-safe variant
%% of crypt()
{port_env, [
            {".*(linux|bsd|solaris).*","CFLAGS", "$CFLAGS -DHAVE_CRYPT_R=1 -O2"},
            {".*(linux|bsd|solaris).*","LDFLAGS", "$LDFLAGS -lcrypt -lpthread"}
           ]}.

{xref_checks, [undefined_function_calls]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
